anthropic==0.72.1
asyncpg==0.30.0
dotenv==0.9.9
fastapi==0.121.1
numpy==2.3.4
openai==2.7.2
pandas==2.3.3
prometheus_client==0.23.1
pydantic==2.12.4
pydantic_core==2.41.5
python-dotenv==1.2.1
redis==7.0.1
torch==2.8.0+cu129
torch-geometric==2.7.0
torch_scatter==2.1.2+pt28cu129
torch_sparse==0.6.18+pt28cu129
torchaudio==2.8.0+cu129
torchvision==0.23.0+cu129
uvicorn==0.38.0
