{"openapi":"3.1.0","info":{"title":"Equipment Service API","description":"\n# Equipment Management Service\n\nУправление гидравлическими системами, компонентами и сенсорами.\n\n## Features\n- ✅ CRUD operations для equipment\n- ✅ Hierarchical structure (System → Component → Sensor)\n- ✅ Multi-tenancy support\n- ✅ Real-time health monitoring\n- ✅ Batch data upload\n\n## Authentication\nAll endpoints require JWT Bearer token:\n```\nAuthorization: Bearer <token>\n```\n        ","contact":{"name":"Hydraulic Diagnostics Support","url":"https://hydraulic-diagnostics.com/support","email":"support@hydraulic-diagnostics.com"},"license":{"name":"Proprietary","url":"https://hydraulic-diagnostics.com/license"},"version":"1.0.0"},"servers":[{"url":"https://api.hydraulic-diagnostics.com/v1/equipment","description":"Production"},{"url":"https://staging-api.hydraulic-diagnostics.com/v1/equipment","description":"Staging"},{"url":"http://localhost:8002","description":"Local Development"}],"paths":{"/health":{"get":{"tags":["Monitoring"],"summary":"Health Check","description":"Service health check.\n\nReturns service status and dependency checks.\n\n**Status codes**:\n- `healthy`: All systems operational\n- `degraded`: Non-critical issues detected\n- `unhealthy`: Critical failures","operationId":"health_check_health_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/metrics":{"get":{"tags":["Monitoring"],"summary":"Metrics","description":"Prometheus metrics endpoint.\n\nReturns metrics in Prometheus exposition format.\n\n**Metrics include**:\n- HTTP request counts and latency\n- Database connection pool\n- Resource usage (CPU, memory)\n- Service-specific metrics","operationId":"metrics_metrics_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/ready":{"get":{"tags":["Monitoring"],"summary":"Readiness Check","description":"Readiness probe для Kubernetes.\n\nReturns 200 if service is ready to accept traffic.","operationId":"readiness_check_ready_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/systems":{"post":{"tags":["Systems"],"summary":"Create System","description":"Create new hydraulic system.\n\n**Returns**: Created system with generated ID","operationId":"create_system_systems_post","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EquipmentCreate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Equipment"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Systems"],"summary":"List Systems","description":"List all systems with pagination.\n\n**Filters**: equipment_type, manufacturer, etc.","operationId":"list_systems_systems_get","parameters":[{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Skip"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"default":100,"title":"Limit"}},{"name":"equipment_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Equipment Type"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Equipment"},"title":"Response List Systems Systems Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/systems/{equipment_id}":{"get":{"tags":["Systems"],"summary":"Get System","description":"Get system by ID with full hierarchy.\n\n**Returns**: System → Components → Sensors","operationId":"get_system_systems__equipment_id__get","parameters":[{"name":"equipment_id","in":"path","required":true,"schema":{"type":"string","title":"Equipment Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Equipment"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["Systems"],"summary":"Update System","description":"Update system properties.","operationId":"update_system_systems__equipment_id__patch","parameters":[{"name":"equipment_id","in":"path","required":true,"schema":{"type":"string","title":"Equipment Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EquipmentUpdate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Equipment"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Systems"],"summary":"Delete System","description":"Delete system and all related data.\n\n**Warning**: This action is irreversible.","operationId":"delete_system_systems__equipment_id__delete","parameters":[{"name":"equipment_id","in":"path","required":true,"schema":{"type":"string","title":"Equipment Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/systems/{equipment_id}/health":{"get":{"tags":["Health"],"summary":"Get System Health","description":"Get current health status of system.\n\n**Returns**: Latest health scores and component statuses.","operationId":"get_system_health_systems__equipment_id__health_get","parameters":[{"name":"equipment_id","in":"path","required":true,"schema":{"type":"string","title":"Equipment Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/components/batch":{"post":{"tags":["Components"],"summary":"Batch Create Components","description":"Batch create components.\n\n**Use case**: CSV upload, bulk import.","operationId":"batch_create_components_components_batch_post","requestBody":{"content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/Component"},"type":"array","title":"Components"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/sensors/validate-hierarchy":{"post":{"tags":["Sensors"],"summary":"Validate Hierarchy","description":"Validate CSV hierarchical data.\n\n**Use case**: Frontend CSV upload validation.","operationId":"validate_hierarchy_sensors_validate_hierarchy_post","requestBody":{"content":{"application/json":{"schema":{"additionalProperties":true,"type":"object","title":"Data"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/":{"get":{"tags":["Info"],"summary":"Root","description":"Root endpoint.","operationId":"root__get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}}},"components":{"schemas":{"Component":{"properties":{"component_id":{"type":"string","title":"Component Id"},"component_type":{"type":"string","title":"Component Type"},"name":{"type":"string","title":"Name"},"model":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Model"},"sensors":{"items":{"$ref":"#/components/schemas/Sensor"},"type":"array","title":"Sensors","default":[]}},"type":"object","required":["component_id","component_type","name"],"title":"Component","description":"Component with sensors."},"Equipment":{"properties":{"equipment_id":{"type":"string","title":"Equipment Id"},"name":{"type":"string","title":"Name"},"equipment_type":{"type":"string","title":"Equipment Type"},"model":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Model"},"manufacturer":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Manufacturer"},"serial_number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Serial Number"},"year":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Year"},"operating_hours":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Operating Hours"},"components":{"items":{"$ref":"#/components/schemas/Component"},"type":"array","title":"Components","default":[]}},"type":"object","required":["equipment_id","name","equipment_type"],"title":"Equipment","description":"Equipment system."},"EquipmentCreate":{"properties":{"name":{"type":"string","title":"Name"},"equipment_type":{"type":"string","title":"Equipment Type"},"model":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Model"},"manufacturer":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Manufacturer"}},"type":"object","required":["name","equipment_type"],"title":"EquipmentCreate","description":"Create equipment request."},"EquipmentUpdate":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"operating_hours":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Operating Hours"}},"type":"object","title":"EquipmentUpdate","description":"Update equipment request."},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"Sensor":{"properties":{"sensor_id":{"type":"string","title":"Sensor Id"},"sensor_type":{"type":"string","title":"Sensor Type"},"unit":{"type":"string","title":"Unit"},"min_value":{"type":"number","title":"Min Value"},"max_value":{"type":"number","title":"Max Value"},"warning_threshold":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Warning Threshold"},"critical_threshold":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Critical Threshold"}},"type":"object","required":["sensor_id","sensor_type","unit","min_value","max_value"],"title":"Sensor","description":"Sensor definition."},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"JWT token from /auth/login endpoint"}}},"security":[{"bearerAuth":[]}],"tags":[{"name":"Systems","description":"Hydraulic system operations"},{"name":"Components","description":"Component management"},{"name":"Sensors","description":"Sensor configuration and data"},{"name":"Health","description":"System health and monitoring"}],"x-logo":{"url":"https://hydraulic-diagnostics.com/logo.png","altText":"Hydraulic Diagnostics"}}