Django>=5.1,<5.2
djangorestframework>=3.15,<3.16
drf-spectacular>=0.27,<0.28
django-filter>=24.3
psycopg>=3.2
psycopg-binary>=3.2
redis>=5.0
celery>=5.4,<5.5
django-celery-beat>=2.6
python-decouple>=3.8
django-cors-headers>=4.4
structlog>=24.1
django-redis>=5.4
django-extensions>=3.2
djangorestframework-simplejwt>=5.3
gunicorn>=22.0

# Обязательные для ImageField и ML
Pillow>=10.4,<11.0
sentence-transformers>=3.0
scikit-learn>=1.5
numpy>=2.0
pandas>=2.2
